#content {
    display: grid;
    grid-template-areas: "table form";
}
#container {
    width: 100%;
    grid-area: table;
}
#formDiv {
    grid-area: form;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
}
#inFormDiv {
    display: flex;
}

table {
    width: 50%;
}
td {
    hyphens: auto;
}


.name {
    width: 1fr;
}
.lastName {
    width: 1fr;
}
.eyeColor {
    width: 1fr;
}
.about {
    width: 2fr;
    /* Воспользуемся webkit для настройки переноса строк */
    display: -webkit-box;
    /* Устанавливаем число отображаемых строк */
    -webkit-line-clamp: 2;
    /* Устанавливаем вертикальную ориентацию */
    -webkit-box-orient: vertical;
    /* Обрезаем все, что не помещается во вторую строку */
    overflow: hidden;
}

#output {
    cursor: pointer;
}

#submit {
    cursor: pointer;
}

.sortBtn {
    cursor: pointer;
}